:root {
	--font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
		helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
		Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--color-background: #e6ebe0;
	--color-background-darker: #d0d8c8;
	--color-danger: #ed6a5a;
	--color-warn: #f4f1bb;
	--color-accent: #36c9c6;
	--color-accent-dark: #2a9c99;
	--color-neutral: #9bc1bc;
	--color-text: #1a2927;
	--shadow-color: rgba(47, 53, 46, 0.14);
}
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	overscroll-behavior: none;
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-body);
}

* {
	box-sizing: border-box;
}

.medium-shadow {
	box-shadow:
		var(--shadow-color) 0px 4px 12px,
		var(--shadow-color) 1px 2px 10px;
}

.medium-shadow-filter {
	filter: drop-shadow(var(--shadow-color) 0px 4px 12px)
		drop-shadow(var(--shadow-color) 1px 2px 10px);
}
